*.rbc
*.sassc
.sass-cache
capybara-*.html
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config_secure/*
.DS_Store
.idea/*
/db/structure.sql
.rbenv-gemsets
.ruby-*
dump.rdb
config/database.yml
config/redis.yml
config/thinking_sphinx.yml
config/development.sphinx.conf
.env
db/sphinx/*
features/errors/*
db/schema.rb
