body {
  background-color: black;
  color: #cccccc;
}

.hmds {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .06em;
  line-height: 1.5;
}

.hmds th {
  padding: 12px;
}

.hmds td {
  padding: 12px;
}
